@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

#map { 
  position: absolute; 
  top: 0; 
  bottom: 0; 
  width: 100%; 
}


@layer base {
  body {
    background-color: theme('colors.raspberry');
    color: theme('colors.white');
    font-size: 14px;
  }
}

@layer components {

}

.map-container {
  position: relative;
  padding-bottom: 60vh;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.map-container iframe,
.map-container object,
.map-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}